<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="android.uid.system" android:versionCode="1" android:versionName="1.0-2024-03-13:15-58" android:compileSdkVersion="31" android:compileSdkVersionCodename="12" package="com.szchoiceway.eventcenter" platformBuildVersionCode="31" platformBuildVersionName="12">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INSTALL_GRANT_RUNTIME_PERMISSIONS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.GET_TOP_ACTIVITY_INFO"/>
    <uses-permission android:name="android.permission.INJECT_EVENTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <protected-broadcast android:name="zxw.intent.action.standby_setting"/>
    <protected-broadcast android:name="com.szchoiceway.settings.ICON_DISPLAY"/>
    <protected-broadcast android:name="com.szchoiceway.SEND_APP_ACTION_EVT"/>
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:name="com.szchoiceway.eventcenter.EventApp" android:allowBackup="true" android:extractNativeLibs="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <service android:name="com.szchoiceway.eventcenter.EventService" android:exported="true">
            <intent-filter>
                <action android:name="com.szchoiceway.eventcenter.EventService"/>
            </intent-filter>
        </service>
        <receiver android:name="com.szchoiceway.eventcenter.AutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name="com.szchoiceway.eventcenter.AssistiveTouch.TopFloatService" android:exported="true">
            <intent-filter>
                <action android:name="com.szchoiceway.eventcenter.AssistiveTouch.TopFloatService"/>
            </intent-filter>
        </service>
        <service android:name="com.szchoiceway.eventcenter.JobWakeUpService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true">
            <intent-filter>
                <action android:name="com.szchoiceway.eventcenter.JobWakeUpService"/>
            </intent-filter>
        </service>
        <service android:name="com.szchoiceway.eventcenter.usbinstallapk.UsbApkInstallService"/>
        <receiver android:name="com.szchoiceway.eventcenter.usbinstallapk.UsbApkInstallBroadcastReceiver">
            <intent-filter>
                <action android:name="ZXW.USB_INSTALL_ACTION"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
